/*PC*/
@media all and (min-width:1500px) {

    .section {
        position: relative;
        height: 100%;
        width: 100%;
    }

    #register-div {
        position: absolute;
        top: 130px;
        left: 35%;
        height: 470px;
        width: 30%;
        background: rgba(0, 0, 0, 0.733);
    }

    #register-logo {
        position: absolute;
        top: 10px;
        left: 44%;
    }

    #name-name {
        position: absolute;
        top: 20px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #name-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #name-text {
        position: absolute;
        top: 50px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #name-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #phone-number-name {
        position: absolute;
        top: 100px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #phone-number-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #phone-number-text {
        position: absolute;
        top: 130px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #phone-number-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #email-name {
        position: absolute;
        top: 180px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #email-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #email-text {
        position: absolute;
        top: 210px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #email-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #password-name {
        position: absolute;
        top: 260px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #password-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #password2-name {
        position: absolute;
        top: 265px;
        right: 32%;
        color: white;
        font-size: small;
        font-weight: 800;
    }

    #password-text {
        position: absolute;
        top: 290px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #password-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #password-confirm-name {
        position: absolute;
        top: 340px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #password-confirm-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #password-confirm-text {
        position: absolute;
        top: 370px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #password-confirm-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #button2 {
        position: absolute;
        bottom: 10px;
        left: 34%;
        font-size: large;
        border: 1px solid white;
        border-radius: 10px;
        font-size: larger;
        color: white;
        background: none;
    }

    #button2:hover {
        color: black;
        background: rgb(255, 255, 255);
    }
}

/*laptob*/
@media all and (min-width:1000px) and (max-width:1500px) {
    .section {
        position: relative;
        height: 100%;
        width: 100%;
    }

    #register-div {
        position: absolute;
        top: 130px;
        left: 34%;
        height: 470px;
        width: 32%;
        background: rgba(0, 0, 0, 0.733);
    }

    #register-logo {
        position: absolute;
        top: 10px;
        left: 42%;
    }

    #name-name {
        position: absolute;
        top: 20px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #name-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #name-text {
        position: absolute;
        top: 50px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #name-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #phone-number-name {
        position: absolute;
        top: 100px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #phone-number-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #phone-number-text {
        position: absolute;
        top: 130px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #phone-number-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #email-name {
        position: absolute;
        top: 180px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #email-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #email-text {
        position: absolute;
        top: 210px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #email-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #password-name {
        position: absolute;
        top: 260px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #password-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #password2-name {
        position: absolute;
        top: 265px;
        right: 33%;
        color: white;
        font-size: small;
        font-weight: 800;
    }

    #password-text {
        position: absolute;
        top: 290px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #password-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #password-confirm-name {
        position: absolute;
        top: 340px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #password-confirm-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #password-confirm-text {
        position: absolute;
        top: 370px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #password-confirm-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #button2 {
        position: absolute;
        bottom: 10px;
        left: 34%;
        font-size: large;
        border: 1px solid white;
        border-radius: 10px;
        font-size: larger;
        color: white;
        background: none;
    }

    #button2:hover {
        color: black;
        background: rgb(255, 255, 255);
    }
}

/*tablet*/
@media all  and  (max-width:1000px) {
    .section {
        position: relative;
        height: 100%;
        width: 100%;
    }

    #register-div {
        position: absolute;
        top: 130px;
        left: 34%;
        height: 470px;
        width: 37%;
        background: rgba(0, 0, 0, 0.733);
    }

    #register-logo {
        position: absolute;
        top: 10px;
        left: 44%;
    }

    #name-name {
        position: absolute;
        top: 20px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #name-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #name-text {
        position: absolute;
        top: 50px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #name-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #phone-number-name {
        position: absolute;
        top: 100px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #phone-number-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #phone-number-text {
        position: absolute;
        top: 130px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #phone-number-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #email-name {
        position: absolute;
        top: 180px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #email-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #email-text {
        position: absolute;
        top: 210px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #email-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #password-name {
        position: absolute;
        top: 260px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #password-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #password2-name {
        position: absolute;
        top: 265px;
        right: 33%;
        color: white;
        font-size: small;
        font-weight: 800;
    }

    #password-text {
        position: absolute;
        top: 290px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #password-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #password-confirm-name {
        position: absolute;
        top: 340px;
        right: 10%;
        color: white;
        font-size: larger;
    }

    #password-confirm-name:hover {
        text-shadow: 5px 5px 5px rgb(201, 195, 195);
    }

    #password-confirm-text {
        position: absolute;
        top: 370px;
        right: 10%;
        height: 40px;
        width: 80%;
        font-size: large;
        border: none;
    }

    #password-confirm-text:hover {
        box-shadow: 2px 2px 2px 2px rgba(173, 14, 14, 0.753);
    }

    #button2 {
        position: absolute;
        bottom: 10px;
        left: 34%;
        font-size: large;
        border: 1px solid white;
        border-radius: 10px;
        font-size: larger;
        color: white;
        background: none;
    }

    #button2:hover {
        color: black;
        background: rgb(255, 255, 255);
    }
}
